.env
.env.*
!.env.example
node_modules
npm-debug.log
yarn-error.log
/vendor
/public/hot
/public/storage
.phpunit.cache
.phpunit.result.cache
.git
.github
.idea
.vscode
.fleet
.nova
.zed
Homestead.json
Homestead.yaml
auth.json
global-bundle.pem
*.md
Makefile
docker-compose*.yml
